@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: light-dark(#121212, #fefefe);
  background: light-dark(#ffffff, #222222);
  overflow-x: clip;

  @media (max-width: 991.98px) {
    font-size: 14px;
  }
}

main {
  flex: 1;
}

@keyframes rotation {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid light-dark(#888888, #444444);
  background: light-dark(#888888, #444444);
  border-radius: 50%;
  animation: rotation 2s linear infinite;
  transform-origin: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: 0.25s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border: 24px solid;
    border-color: transparent light-dark(#e0e0e0, #666666);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 100%;
  padding: 16px;
  background-color: light-dark(#e0e0e0, #666666);
  border: 1px solid light-dark(#c5c5c5, #8c8c8c);
  border-radius: 10px;
}

.post {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 16px;
  background-color: light-dark(#f0f6ff, #515865);
  border: 1px solid light-dark(#c7d5e0, #758593);
  border-radius: 10px;

  & > p {
    color: light-dark(#444444, #efefef);
    
    & br {
      display: none;
    }
  }

  &-error {
    flex: 1 0 auto;
    color: #9c2525;
    background-color: #ecc8c8;
    border: 1px solid #9c2525;
  }

  &-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: auto;

    & time {
      font-size: small;
    }

    & > a {
      font-size: smaller;
    }
  }
}
